---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: '营养食谱 — 适合所有人的食谱',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: '开始阅读',
        href: '/cookbook',
        target: '_blank',
        icon: 'tabler:book',
      },
      { text: '了解更多', href: '#features' },
    ]}
    <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
  >
    <Fragment slot="title">
      符合你需求的<span class="text-accent dark:text-white highlight"> 营养食谱</span>
    </Fragment>
  </Hero>
  <Features
    id="features"
    tagline=""
    title="功能"
    subtitle="该网站是一个集定制食谱、食谱管理、食材搜索、健康咨询、社区互动、营养知识普及、食谱推荐、饮食计划制定、健康监测于一体的综合性平台。旨在为您提供个性化的饮食健康管理服务，帮助建立科学的饮食习惯，促进身体健康。"
    items={[
      // {
      //   title: 'Astro + Tailwind CSS Integration',
      //   description:
      //     'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
      //   icon: 'tabler:brand-tailwind',
      // },
      // {
      //   title: 'Ready-to-use Components',
      //   description:
      //     'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
      //   icon: 'tabler:components',
      // },
      // {
      //   title: 'Best Practices',
      //   description:
      //     'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
      //   icon: 'tabler:list-check',
      // },
      // {
      //   title: 'Excellent Page Speed',
      //   description:
      //     'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
      //   icon: 'tabler:rocket',
      // },
      // {
      //   title: 'Search Engine Optimization (SEO)',
      //   description:
      //     "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
      //   icon: 'tabler:arrows-right-left',
      // },
      // {
      //   title: 'Open to new ideas and contributions',
      //   description:
      //     'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
      //   icon: 'tabler:bulb',
      // },
    ]}
  />
  <Content
    isReversed
    tagline="精品食谱"
    title="3 分练，7 分吃"
    items={[
      {
        title: '个体差异的深度理解',
        description:
          '每个人的基因、代谢速率、身体活动水平和健康状况都是独一无二的。一个量身定制的食谱能够深入考虑这些内在因素，确保营养摄入与个人的生物需求完美匹配，从而提升整体健康水平。',
      },
      {
        title: '健康目标的个性化实现',
        description:
          '无论是追求健美的体型、增强体力还是改善健康状况，个性化食谱都能提供针对性的营养支持。例如，减肥者可能需要低热量、高纤维的饮食计划，而增肌者则需要高蛋白、适量碳水化合物的摄入。',
      },
      {
        title: '食物偏好与限制的尊重',
        description:
          '个人食谱应尊重每个人的饮食偏好和限制，包括食物过敏、不耐受或道德选择。这样的食谱不仅能够避免潜在的健康风险，还能确保饮食的多样性和营养的全面性。',
      },
      {
        title: '文化和宗教的融合',
        description:
          '一个适合个人的营养食谱应该融入文化和宗教的饮食传统，同时确保营养的均衡。这不仅能够满足精神和情感的需求，还能促进身体健康。',
      },
      {
        title: '生活方式的适应性',
        description:
          '个性化食谱应根据个人的工作和生活节奏进行调整。例如，对于经常出差的商务人士，食谱可能需要便于携带和准备；而对于长时间工作的人，则需要提供足够的能量和营养以支持其日常活动。',
      },
      {
        title: '年龄和生理阶段的考虑',
        description:
          '随着生命阶段的变迁，营养需求也会随之变化。儿童需要支持大脑和身体发育的营养，成年人需要维持健康和活力，而老年人则需要预防慢性疾病和维持骨骼健康。',
      },
      {
        title: '慢性疾病的个性化管理',
        description:
          '对于患有慢性疾病的人，个性化食谱可以作为药物治疗的辅助手段，通过调整饮食结构来控制病情，减少药物副作用。',
      },
      {
        title: '心理健康的支持',
        description:
          '营养与心理健康紧密相连。一个适合自己的食谱可以提供必要的营养素，如Omega-3脂肪酸、维生素B群和镁，这些营养素对于情绪稳定和大脑健康至关重要。',
      },
      {
        title: '长期健康的投资',
        description: '坚持个性化的营养食谱是对长期健康的投资。它有助于预防疾病、提高生活质量，并可能延长寿命。',
      },
      {
        title: '个人化体验的享受',
        description:
          '一个适合自己的食谱应该让饮食成为一种愉悦的体验。通过精心挑选食材和烹饪方法，可以使每一餐都成为享受健康和美味的时刻。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">一个适合自己的营养食谱的重要性</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Steps
    title="从现在开始，做好你的营养管理。"
    items={[
      {
        title: '第一步: <span class="font-medium">评估当前饮食</span>',
        description:
          '记录饮食：连续记录三天至一周的饮食，包括食物种类、份量和摄入时间。分析饮食：通过对比营养推荐摄入量，了解当前饮食的优点和不足。',
        icon: 'tabler:package',
      },
      {
        title: '第二步: <span class="font-medium">考虑个人因素</span>',
        description:
          '年龄与性别：不同年龄和性别对营养需求有差异，如儿童和青少年需要更多的蛋白质和钙质。体重与活动水平：体重和活动水平直接影响热量需求，肥胖者需要减少热量摄入，而运动员需要增加。特殊需求：考虑是否有食物过敏、宗教信仰等特殊需求。',
        icon: 'tabler:letter-case',
      },
      {
        title: '第三步: <span class="font-medium">设定营养目标</span>',
        description: '明确目标：如减肥、增肌、改善心血管健康等。目标可行性：设定具体、可衡量且可实现的营养目标。',
        icon: 'tabler:paint',
      },
      {
        title: '成功!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <BlogLatestPosts title="找到最适合您的食谱" information={`我们会定期更新`} />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: '开始阅读',
        href: '/cookbook',
        target: '_blank',
        icon: 'tabler:book',
      },
    ]}
  >
    <Fragment slot="title"> 从现在开始 </Fragment>
    <Fragment slot="subtitle"> 妥善管理你的营养摄入 </Fragment>
  </CallToAction>
</Layout>
